.favorite-contact__container {
  height: 100px;
}

.favorite-contact__container-column{
  margin: 0px 5px;
}

.favorite-contact__container-column:hover{
  transform: translateY(-5px);
  background-color: var(--main-green);
  background-color: var(--title-white);
  color: var(--title-dark-gray);
  border-radius: 5px;
  transition-duration: 0.3s;
  padding: 10px 5px;
}

.favorite-contact__container-column:active {
  transform: scale(0.9);
}

.favorite-contact__container-column i {
  font-size: var(--font-large);
  margin-bottom: 10px;
  opacity: 1;
}

.favorite-contact__container__subtitle{
  font-size: var(--font-micro);;
  font-weight: var(--weight-semi-bold);
}


.user-component.search{
  margin-bottom: 20px;
  height: 100vh;
}

.search__imgs{
  padding: 30px 0px;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  background-color: #2C4D9E;
  color: var(--title-black);
  margin-bottom: 20px;
}

.search__imgs img{
  width: 100%;
  margin: -1px 0px;
}