.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  background-color: var(--title-black);
  gap: 1px;
  font-size: var(--font-micro);
  border-bottom: 1px solid var(--title-black);
  border-top: 1px solid var(--title-black);
}

.categories__grid {
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--title-black);
  background-color: var(--title-white);
}

.categories__grid:hover {
  background-color: var(--hover-gray);
}

.categories__grid:hover {
  text-decoration: underline;
}

.categories__grid i {
  margin: 0;
}
