.contents {
  display: flex;
  border-bottom: 1.5px solid var(--title-black);
}

/*  shopping-content section  */

.shopping-content {
  width: 50%;
  display: flex;
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1fr); */
  min-height: 90vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.shopping-content::-webkit-scrollbar {
  display: none;
}

.shopping-content__img {
  width: 50%;
  background-color: #f5f5f7;
  border-right: 1.5px solid var(--title-black);
}

.shopping-content__img > img {
  width: 100%;
  border-top: 1.5px solid var(--title-black);
}

.shopping-content__img > img:first-child {
  border-top: none;
}

.shopping-content__options {
  width: 100%;
}

.shopping__options__price {
  display: flex;
  border-bottom: 1.5px solid var(--title-black);
  height: 40px;
}

.shopping__options__price > .price,
.shopping__options__price > .add {
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-regular);
}

.shopping__options__price > .add {
  background-color: var(--hover-green);
}

.shopping__options__price > .add:hover {
  cursor: pointer;
  text-decoration: underline;
}

.shopping__options__detail {
  border-bottom: 1.5px solid var(--title-black);
  font-size: var(--font-small);
}

.detail__size:first-child {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  margin-bottom: 0px;
}

.detail-text {
  margin: 30px 20px;
}

.detail-text:first-child {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.detail-text:last-child {
  font-size: var(--font-micro);
  opacity: 0.9;
}

.detail-color {
  margin: 30px 20px;
}

.detail-color .color-circle {
  padding: 5px 15px;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgb(27, 27, 27);
  cursor: pointer;
}

.detail__size {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 20px;
  /* min-width: 500px; */
}

.size__numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--title-black);
  width: 34px;
  height: 38px;
  opacity: 0.5;
  margin: 5px 0px;
  margin-right: 15px;
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
}

.size__numbers:hover {
  cursor: pointer;
  background-color: var(--hover-gray);
  opacity: 1;
}

.shopping__info {
  display: flex;
}

.info__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  border-bottom: 1.5px solid var(--title-black);
  padding: 15px 0px;
  font-size: var(--font-regular);
  opacity: 0.9;
  cursor: pointer;
}

.info__title:last-child {
  border-left: 1.5px solid var(--title-black);
}

.info__title:hover {
  background-color: var(--hover-green);
  text-decoration: underline;
}

.shopping__products {
  margin: 20px 20px;
  font-size: var(--font-small);
  line-height: 25px;
}

.shopping__products__details {
  margin: 40px 0px;
}

.shopping__products__details:first-child {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.shopping__products__details > ul {
  list-style-type: disc;
  margin-left: 20px;
}

.other-variations {
  border-bottom: 1px solid var(--title-black);
  padding: 18px 10px;
  text-align: center;
  font-size: var(--font-micro);
}

.categories-detail.contents {
  display: flex;
}

.categories-detail.contents .categories-detail__content {
  border-left: none;
  border-bottom: none;
  border-right: 1px solid var(--title-black);
  width: 100%;
}
.categories-detail.contents .categories-detail__content:last-child {
  border-right: none;
}

.categories-detail.contents .categories-detail__content img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.categories-detail.contents .categories-detail__content:hover img:last-child {
  display: inline-block;
}
