.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px;
  background-color: var(--title-black);
  gap: 1px;
}

.header a {
  text-decoration: none;
  color: var(--title-black);
}

.header-title {
  display: flex;
  align-items: center;
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  background-color: var(--title-white);
}

.header-title > div {
  margin-left: 15px;
}

input {
  outline: none;
  height: 20px;
  border: none;
  background-color: var(--title-white);
  margin-left: 5px;
  font-size: var(--font-micro);
  font-weight: var(--weight-thin);
}

.header-search {
  display: flex;
  align-items: center;
  background-color: var(--title-white);
}

.header-users {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--title-white);
}

.header-users > span {
  margin-right: 10px;
  font-size: var(--font-small);
}

.login {
  cursor: pointer;
}

i {
  margin-left: 15px;
  cursor: pointer;
  font-size: var(--font-regular);
}

i:active {
  transform: scale(0.9);
}

.route {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--title-black);
  height: 40px;
  border-top: 1.5px solid var(--title-black);
  border-bottom: 1.5px solid var(--title-black);
  opacity: 0.9;
  font-size: var(--font-small);
}

.route a {
  color: var(--title-black);
  margin-left: 16px;
}

/* Toggle menu */
.tg-active {
  display: none;
}

.tg-active__container {
  width: 100%;
  font-size: var(--font-small);
  text-decoration: none;
  color: var(--title-black);
  transition-duration: 0.5s;
}

.tg-active__link {
  display: flex;
  justify-content: space-between;
  color: var(--title-black);
  border-bottom: 1px solid var(--title-black);
  padding: 15px 10px;
}

.tg-active__link:last-child {
  border-bottom: none;
  font-size: var(--font-micro);
  line-height: 20px;
  /* padding-right: 50px; */
}

.tg-active.toggle-active {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr; */
  display: flex;
  width: 100%;
  position: absolute;
  transition-duration: 0.5s;
  height: 100vh;
  width: 33.3%;
  right: 0;
  background-color: var(--bg-white);
  border: 1px solid var(--title-black);
  border-right: none;
}
