.header {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px;
  background-color: var(--title-black);
  gap: 1px;
  width: 100%;
  z-index: 2;
  border-bottom: 1px solid var(--title-black);
}

.header a {
  text-decoration: none;
  color: var(--title-black);
}

.header-title {
  display: flex;
  align-items: center;
  font-size: var(--font-large);
  font-weight: var(--weight-semi-bold);
  background-color: var(--title-white);
  padding-right: 15px;
}

.header-title > div {
  margin-left: 15px;
}

input {
  outline: none;
  height: 20px;
  border: none;
  background-color: var(--title-white);
  margin-left: 5px;
  font-size: var(--font-micro);
  font-weight: var(--weight-thin);
}

.header-search {
  display: flex;
  align-items: center;
  background-color: var(--title-white);
  padding: 0px 5px;
}

.header-users {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--title-white);
}

.header-users > span {
  margin-right: 10px;
  font-size: var(--font-small);
}

.login {
  cursor: pointer;
}

i {
  margin-left: 15px;
  cursor: pointer;
  font-size: var(--font-regular);
}

i:active {
  transform: scale(0.9);
}

.toggle-btn {
  outline: none;
  background-color: var(--bg-white);
  border: none;
  margin-right: 15px;
}

/* Route */

.route {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--title-black);
  height: 40px;
  border-bottom: 1px solid var(--title-black);
  font-size: var(--font-small);
  padding-top: 40px;
  /* background-color: var(--bg-white);
  z-index: 1; */
}

.route a {
  color: var(--title-black);
  margin-left: 16px;
}

/* Toggle menu */

.tg-active {
  display: none;
}

.tg-active__container {
  width: 100%;
  font-size: var(--font-small);
  text-decoration: none;
  color: var(--title-black);
  transition-duration: 0.5s;
}

.tg-active__link {
  display: flex;
  justify-content: space-between;
  color: var(--title-black);
  border-bottom: 1px solid var(--title-black);
  padding: 15px 10px;
}

.tg-active__link:hover {
  text-decoration: underline;
  background-color: var(--hover-green);
}

.tg-active__link:last-child {
  border-bottom: none;
  font-size: var(--font-micro);
  line-height: 15px;
  padding-right: 60px;
  padding-bottom: 60px;
  text-decoration: none;
  background-color: var(--bg-white);
  cursor: default;
}

.tg-active.toggle-active {
  display: flex;
  width: 100%;
  margin-top: 40px;
  position: fixed;
  transition-duration: 0.5s;
  height: 100%;
  width: 33.29%;
  top: 0;
  right: 0;
  background-color: var(--bg-white);
  border: 1px solid var(--title-black);
  border-right: none;
  z-index: 2;
}
