@media screen and (max-width: 1400px) {
  .header__container .header__text:nth-child(3) {
    margin-bottom: 30px;
  }

  .main .videos {
    margin-bottom: 120px;
  }

  img {
    width: 60%;
  }

  @media screen and (max-width: 1050px) {
    body {
      flex-direction: column;
    }

    body .header {
      position: static;
      width: 90%;
      margin: 30px 0px;
      margin-top: 50px;
      padding: 50px 50px;
      margin: auto;
    }

    .header .header__container {
      margin-bottom: 0px;
      width: 70%;
    }

    .header__container .header__title:nth-child(3) {
      margin-bottom: 30px;
    }

    .header__text {
      margin-top: 0px;
    }

    .header__text-box .header__text:nth-child(3) {
      width: 100%;
    }

    body .main {
      width: 100%;
      margin-left: 0;
    }

    .main .videos {
      margin-bottom: 50px;
    }

    .videos .videos__link {
      margin-top: 30px;
      margin-bottom: 50px;
    }

    .videos__link img {
      width: 75%;
    }

    @media screen and (max-width: 768px) {
      body .header {
        transform: scale(0.9);
        width: 80%;
        height: 70vh;
      }

      .header .header__container {
        width: 90%;
      }

      .main .videos {
        margin-bottom: 100px;
      }

      .videos .videos__link {
        margin-top: 50px;
      }

      .videos__link img {
        width: 75%;
      }
    }

    @media screen and (max-width: 600px) {
      body .header {
        transform: scale(0.8);
      }

      .header .header__container {
        width: 100%;
      }

      .main .videos {
        margin-bottom: 60px;
      }

      .videos .videos__link {
        margin-top: 30px;
      }

      .videos .videos__title {
        align-items: flex-start;
      }

      .videos .videos__title div:first-child {
        font-size: 14px;
      }

      .main .main__bottom-text {
        font-size: 5px;
      }
    }

    @media screen and (max-width: 414px) {
      body .header {
        position: static;
        transform: scale(0.7);
        width: 100%;
        margin: 50px 0px;
        margin-top: 50px;
        padding: 0px;
        height: 60vh;
      }

      .header__container {
        transform: scale(0.95);
      }

      .main .videos {
        margin-bottom: 30px;
      }

      .videos .videos__link {
        margin-top: 20px;
      }

      .videos .videos__title {
        margin: 10px 20px;
        align-items: flex-start;
      }

      .videos .videos__title div:first-child {
        font-size: 12px;
      }

      .videos .videos__title div:last-child {
        font-size: 8px;
      }

      .videos__link img {
        width: 80%;
      }

      .play-icon .fa-youtube {
        font-size: 3rem;
      }

      .main .main__bottom-text {
        margin-bottom: 30px;
      }
    }

    @media screen and (max-width: 320px) {
      body .header {
        width: 100%;
      }

      .header__container {
        transform: scale(0.9);
      }

      .header__container .header__title {
        font-size: 3.5rem;
      }

      .videos .videos__title {
        margin: 10px 10px;
      }

      .videos .videos__title {
        transform: scale(0.9);
        align-items: flex-start;
      }

      .play-icon .fa-youtube {
        font-size: 2rem;
      }

      .main .videos:last-child {
        margin-bottom: 50px;
      }
    }
  }
}
