#about {
  margin: 80px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--title-black);
  font-weight: var(--weight-bold);
  padding-top: 50px;
}

#about h1 {
  display: flex;
  margin: 40px 0px;
  height: 150px;
  line-height: 130px;
}

#about img {
  margin-right: 20px;
  width: 130px;
  height: 130px;
}

#about p {
  margin: 20px 0px;
  width: 70%;
}

.about__majors {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 40px 0px;
  width: 90%;

}

.major-column{
  margin: 40px 0px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.major-column__text{
  text-align: center;
}

.major__icon{
  border: 1px solid var(--border-black);
  color: var(--border-black);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
}

.major__icon i {
  font-size: 4rem;
  line-height: 150px;
  transition: all 1s ease-in-out;
  transition-duration: 1s;
}

.major__icon:hover i {
  transform: rotate(-360deg) scale(1.1);
}

.major__title{
  margin: 20px 0px;
  color: var(--title-black);
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
}

.major__description{
  color: var(--title-black);
  font-weight: var(--weight-regular);
  font-size: var(--font-micro);
  text-align: center;
  line-height: 20px;
}

.fa-html5 {
  color: #E44D27;
}

.fa-react{
  color: #62D9FB;
}

.fa-server{
  color: var(--value-yellow);
}
/* 
.about__study{
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.study {
  display: flex;
  margin: 10px 0px;
} 

.study__description{
  display: flex;
  flex-direction: column;
}

.study__description span{
  margin: 8px 10px;
  font-size: var(--font-micro);
}

.study__name{
  font-weight: var(--weight-semi-bold);
}
.study__period{
  width: 100%;
  font-weight: var(--weight-regular)
}

.study__logo{
  border-radius: 10px;
  width:  60px;
  height: 60px;
} */