#home{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../images/bgLogo.gif");
  background-repeat: no-repeat;
	background-position : top; 
  background-size: 1980px;
  height: 1080px;
}



.home__avatar {
  margin: 40px 0px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid var(--title-white);
}

.home__title{
  margin: 40px 0px;
  text-align: center;
  color: var(--title-white);
  font-weight: var(--weight-semi-bold);
}

.home__discription{
  margin: 40px 0px;
  color: var(--title-white);
  font-weight: var(--weight-semi-bold);
}

.home__contact{
  color: var(--title-white);
  font-weight: var(--weight-semi-bold);
}

.home__contact{
  margin: 50px 0px;
  cursor: pointer;
}

#home button {
  border: none;
  outline: none;
  background: none;
  border: 1px solid var(--title-white);
  border-radius: 5px;
  padding: 10px 14px;
  text-transform: uppercase;
}

