
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 10px;
  position: fixed;
  width: 100%;
  top:0;
  background-image: url(../images/bgLogo.gif);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1980px;
  z-index: 999;
}

.navbar__logo {
display: flex;
align-items: center;
}

.navbar__logo a{
  text-decoration: none;
  color: var(--title-white);
  font-weight: var(--weight-bold);
}


.navbar__menu{
  display: flex;
  justify-content: space-between;
}

.navbar__menu__item{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: var(--title-white);
  font-weight: var(--weight-bold);
  cursor: pointer;
  margin: 0px 4px;
  transition-duration: 0.5s;
}


.navbar__logo--img, 
.navbar__menu__item img {
  width: 30px;
  margin-right: 10px;
  }

.navbar__menu__item:nth-child(3) img {
  width: 25px;
}

.navbar__menu__item:nth-child(5) img {
  width: 18px;
}

.navbar__menu__item:hover{
  background-color: var(--value-yellow);
  border-radius: 20px;
  color: var(--title-black);
}

.navbar__menu__item:active {
  transform: scale(0.9);
}