#work{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 80px 0px;
}

#work h1 {
  display: flex;
  margin: 40px 0px;
  color: var(--title-black);
  font-weight: var(--weight-bold);
  height: 150px;
  line-height: 140px;
}

.work__img {
  margin-right: 20px;
  width: 120px;
  height: 140px;
}

#work h3 {
  margin: 20px 0px;
  color: var(--title-black);
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
}

.work__categories{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0px;
  z-index: -1;
}

.categories__btn{
  width: 220px;
  height: 40px;
  background-color: white;
  /* border: 1px solid var(--title-black); */
  box-shadow: 3px 3px 0px 0px rgb(73, 73, 73);
  border-radius: 5px;
  position: relative;
  transition-duration: 0.5s;
  margin-right: 10px;
}

/* .categories__btn:nth-child(1), 
.categories__btn:nth-child(2),
.categories__btn:nth-child(3) {
  border-right: none;
} */

.categories__btn:hover{
  background-color: var(--hover-blue);
}

.category__count{
position: absolute;
border-radius: 50%;
background-color: var(--value-yellow);
padding: 2px 5px;
color: var(--title-white);
font-size: 11px;
bottom: 15px;
}

.work__projects{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(2, 350px);
}

.project{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--title-black);
}
.project img{
  width: 100%;
}

.project__description{
  text-align: center;
}