@import "reset.css";
@import "src/navbar.css";
@import "src/home.css";
@import "src/about.css";
@import "src/navbar.css";
@import "src/skills.css";
@import "src/work.css";
@import "src/contact.css";

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* color, font-size, size */
  --title-black: rgb(31, 31, 31);
  --title-white: rgb(251, 251, 251);
  --border-black: rgb(29, 29, 29);
  --hover-pink: #FD7ED0;
  --hover-blue: #05BFC3;
  --value-yellow: #FFD33C;

  --font-large : 48px;
  --font-medium : 28px;
  --font-regular : 18px;
  --font-small : 16px;
  --font-micro: 14px;

  --weight-bold : 700;
  --weight-semi-bold : 600;
  --weight-regular : 400;
}


/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--title-black);
  margin: 16px, 0px;
  text-align: center;
}

h2{
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--title-black);
  margin: 8px, 0px;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--title-black);
  margin: 8px, 0px; 
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--title-black);
  margin: 4px, 0px; 
}

body {
  font-family: 'Open Sans', sans-serif;
  cursor: default; 
}

.sections{
  margin: auto;
}

/* Arrow up btn */

.arrow-up{
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 20px 20px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.arrow-up-btn{
  background-color: var(--value-yellow);
  border: none;
  border-radius: 50%;
  color: var(--title-white);
  font-size: 1.5rem;
  padding: 10px 14px;
  outline: none;
  transition-duration: 0.3s;
  pointer-events: none;
  box-shadow: 1px 1px 3px 0px gray;
}

.arrow-up:hover .arrow-up-btn{
  background-color: var(--hover-blue);
  animation: count 0.6s ease-in-out;
  animation-iteration-count: 3;
}

.arrow-up:active{
  transform: scale(0.7);
}

.arrow-up.display {
  opacity: 0.85;
  cursor: pointer;
}


/* Media query */

@media screen and (max-width: 680px) {
  :root {
  --font-large : 30px;
  --font-medium : 18px;
  --font-regular : 16px;
  --font-small : 14px;
  --font-micro: 12px;
  }

  .navbar__toggle-btn {
    display: block;
    cursor: pointer;
    margin-right: 8px;
    margin-top: 4px;  
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background: url(../css/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 230px;
    padding-bottom: 10px;
    display: none;
  }

  .navbar__menu.toggle-active {
    display: block;
    transition-duration: 0.5s;
  }

  .navbar__menu__item {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 95%;
  }
  .navbar__menu__item:nth-child(1){
    margin-top:10px;
  }

  #home {
    background-size: 1024px;
    height: 560px;
    margin-top: 40px;
  }

  .home__container{
    margin-bottom: 20px;
  }
  
  .home__container,  .home__avatar{
    transform: scale(0.8);
  }

  .home__avatar, .home__contact {
    margin: 0px 0px;
  }

  .home__title{
    font-size: 55px;
    padding: 0px 8px;
    margin: 10px 0px;
  }

  
  #about {
    margin-top: 20px;
  }

  #about p {
    width: 80%;
  }

  .about__majors {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
  }
  
  .major-column{
    transform: scale(1.1);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 20px 0px;
  }

  .major-column__text{
    text-align: center;
    width: 160px;
  }
  .major__description{
    margin-bottom: 20px;
  }

  #skills p {
    width: 80%;
  }

  .skillset{
    width: 90%;
  }

  #skills h1, #work h1{
    text-align: center;
    justify-content: center;
  }

  #work {
    margin-top: 20px;
  }

  .work__categories {
    flex-wrap: wrap;
    width: 70%;
  }

  .categories__btn{
    width: 40%;
    margin: 8px 8px;
  }

  .project{
    flex-grow: 1;
    height: 100%;
  }

  .contact__email{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .fa-envelope{
    margin-right: 5px;
  }

  .arrow-up-btn{
    font-size: 0.8rem;
    padding: 8px 10px;
  }
}
