@import "reset.css";


:root {
  /**/
}

*{
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif; 
}

.navbar__logo--img {
width: 50px;
}

.home__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.study__logo{
  width:  60px;
  height: 60px;
}