:root {
  --font-big: 56px;
  --font-large: 48px;
  --font-semi-large: 32px;
  --font-regular: 26px;
  --font-small: 18px;
  --font-micro: 14px;
  --font-tiny: 12px;
  --font-icon: 10px;

  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  --main-green: #196049;
  --main-light-green: #257159;
  --main-ivory: #F1EBE7;
  
  --bg-white: #f9f9fa;
  --hover-white: white;
  
  --value-brown: #E3D6C8;
  --value-red: rgb(255, 110, 85);

  --title-black: rgb(22, 22, 22);
  --title-dark-gray: rgb(66, 66, 66);
  --title-white: rgb(238, 238, 238);
}
